<html>
<head>
  <meta charset="utf-8">
  <title>Patients App</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/application.js"></script>
</head>
<body>
  <div class="container">
    <h1>Patient Register</h1>
    </hr>
    <div class="page"></div>

  </div>

  <script type="text/template" id="user-list-template">
  <a href="#/new" class="btn brn-primary">New Patient</a>
  </hr>
    <table class= "table striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>D.O.B</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(users, function(user) { %>
          <tr>
            <td><%= user.get('firstname') %></td>
            <td><%= user.get('lastname') %></td>
            <td><%= user.get('dob') %></td>
            <td><%= user.get('note') %></td>
            <td><a href="#/edit/<%=user.id %>" class="btn">Edit</a></td>
          </tr> 

        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="edit-user-template">
    <form class="edit-user-form"> 
      <legend><%= user ? 'Update' : 'Create' %> User</legend>
      <label>First Name</label>
      <input type="text" name="firstname" value="<%= user ? user.get('firstname') : '' %>" />
      <label>Last Name</label>
      <input type="text" name="lastname" value="<%= user ? user.get('lastname') : '' %>" /> 
      <label>D.O.B</label>
      <input type="text" name="dob" value="<%= user ? user.get('dob') : '' %>" />
      <label>Note</label>
      <input type="text" name="note" value="<%= user ? user.get('note') : '' %>" /> 
      <hr />
      <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
      <% if(user) { %>
        <input type="hidden" name="id" value="<%= user.id %>" /> 
        <button type="button" class= "btn btn-danger delete">Delete</button>
      <% }; %>
    </form>
  </script>

 
    
  <script>

    // Cannot get to work on localhost so using below snippit from tutorial for server as wanted to move on. Think this may be the reason I cannot add D.O.B and Note to the user.
    $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
      options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url;
    });
    
    // jQuery doesnt put form inputs into JSON natively. The below piece of below script taken from stack overflow to serialize inputs from a form into object.
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };


    //Creating a collection of Patients
    var Users = Backbone.Collection.extend({
      url: '/users'
    });

    var User = Backbone.Model.extend({
      urlRoot: '/users'
    });


    // Backbone view that renders patient list content to page
    var UserList = Backbone.View.extend({
      el: '.page',
      render: function() {
        var that = this;
        var users = new Users();
        users.fetch({
          success: function() {
            var template = _.template($('#user-list-template').html(), {users: users.models});
            that.$el.html(template);
          }
        })
      }
    });

    var EditUser = Backbone.View.extend({
      el: '.page',
      render: function(options) {
        var that = this;  // so we can keep the scope of the view
        if(options.id) {
          var user = new User({id: options.id});
          user.fetch({    //GET request
            success: function(user) {
              var template = _.template($('#edit-user-template').html(), {user: user});
              that.$el.html(template);            
            }
          })
        } else {
          var template = _.template($('#edit-user-template').html(), {user: null});
          this.$el.html(template);            
        }
      },
      events: {
        'submit .edit-user-form': "saveUser",
        'click .delete': "deleteUser"
      },
      saveUser: function (ev) {
        var userDetails = $(ev.currentTarget).serializeObject();
        var user = new User();
        user.save(userDetails, {
          success: function(user) {
            router.navigate('', {trigger:true});
          }
        })
        return false;
      },
      deleteUser: function (ev) {
        this.user.destroy({  //can't destroy undefined... need to define user again?
          success: function() {
            router.navigate('', {trigger: true});
          }
        })
        return false;
      }
    })


    // Creating a home router
    var Router = Backbone.Router.extend({
      routes: {
        '': 'home',
        'new':'editUser',
        'edit/:id' : 'editUser'
      }
    });

    var userList = new UserList();
    var editUser = new EditUser();

    var router = new Router();

    router.on('route:home', function() {  // Loading home page will trigger this route
      userList.render();
    });

    router.on('route:editUser', function(id) {  
      editUser.render({id: id});
    });

    Backbone.history.start();

  </script>


</body>
</html>

